@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import './font-awesome/scss/font-awesome.scss';
@import './DictSelect.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 html, body{
  height: 100%;
  padding: 0;
  margin: 0;
 }
 body { font-family: 'Source Sans Pro', sans-serif; }
