{
  "extends": ["eslint-config-airbnb"],
  "rules": {
    "eqeqeq": "off",
    "curly": "error",
    "quotes": ["error", "double"],
    "no-bitwise": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "prefer-destructuring": "off",
    "class-methods-use-this": "off",
    "camelcase": "off",
    "no-param-reassign": "off",
    "no-nested-ternary": "off",
    "no-mixed-operators": "off",
    "no-continue": "off",
    "indent": [2, 2],
    "no-multi-assign": "off",
    "spaced-comment": ["error", "always", {
      "line": {
        "markers": ["/"],
        "exceptions": ["-", "+"]
      },
      "block": {
        "markers": ["!"],
        "exceptions": ["*"],
        "balanced": true
      }
    }]
  }
}