$fake-title-bar-height: 26px;
$layout-header-height: 50px;
$layout-footer-height: 20px;
$layout-left-sidebar-width: 200px;
$layout-right-toolbar-width: 60px;
$layout-main-content-functions-height: 60px;
$layout-sidebar-logo-height: 60px;