@use "sass:color";
@use "mixins";
@use "variables";

//
// Buttons.css
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  background-image: none;
  border: 1px solid transparent;
  border-radius: variables.$default-border-radius;
  box-shadow: 0 1px 1px rgba(0,0,0,.06);
  -webkit-app-region: no-drag;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-mini {
  padding: 2px 6px;
}

.btn-large {
  padding: 6px 12px;
}

.btn-form {
  padding-right: 20px;
  padding-left: 20px;
}

// Normal buttons
.btn-default {
  color: variables.$gray-color;
  border-top-color: variables.$dark-border-color;
  border-right-color: variables.$dark-border-color;
  border-bottom-color: variables.$darker-bottom-border-color;
  border-left-color: variables.$dark-border-color;
  @include mixins.linear-gradient(#fcfcfc, #f1f1f1);

  &:active {
    background-color: #ddd;
    background-image: none;
  }
}

// Button variations
.btn-primary,
.btn-positive,
.btn-negative,
.btn-warning {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

// For primary buttons
.btn-primary {
  border-color: #388df8;
  border-bottom-color: color.adjust(#388df8, $lightness: -15%);
  @include mixins.linear-gradient(#6eb4f7, #1a82fb);

  &:active {
    @include mixins.linear-gradient(color.adjust(#6eb4f7, $lightness: -10%), color.adjust(#1a82fb, $lightness: -10%));
  }
}

// For positive buttons
.btn-positive {
  border-color: color.adjust(variables.$positive-color, $lightness: -10%);
  border-bottom-color: color.adjust(variables.$positive-color, $lightness: -15%);
  @include mixins.linear-gradient(color.adjust(variables.$positive-color, $lightness: 10%), color.adjust(variables.$positive-color, $lightness: -10%));

  &:active {
    @include mixins.linear-gradient(variables.$positive-color, color.adjust(variables.$positive-color, $lightness: -15%));
  }
}

// For negative actions
.btn-negative {
  border-color: color.adjust(variables.$negative-color, $lightness: -10%);
  border-bottom-color: color.adjust(variables.$negative-color, $lightness: -15%);
  @include mixins.linear-gradient(color.adjust(variables.$negative-color, $lightness: 10%), color.adjust(variables.$negative-color, $lightness: -10%));

  &:active {
    @include mixins.linear-gradient(variables.$negative-color, color.adjust(variables.$negative-color, $lightness: -15%));
  }
}

// For warning actions
.btn-warning {
  border-color: color.adjust(variables.$warning-color, $lightness: -10%);
  border-bottom-color: color.adjust(variables.$warning-color, $lightness: -15%);
  @include mixins.linear-gradient(color.adjust(variables.$warning-color, $lightness: 10%), color.adjust(variables.$warning-color, $lightness: -10%));

  &:active {
    @include mixins.linear-gradient(variables.$warning-color, color.adjust(variables.$warning-color, $lightness: -15%));
  }
}

// Icons in buttons
.btn .icon {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #737475;
  font-size: 14px;
  line-height: 1;
}

// Add the margin next to the icon if there is text in the button too
.btn .icon-text {
  margin-right: 5px;
}

// This utility class add a down arrow icon to the button
.btn-dropdown:after {
  font-family: "photon-entypo";
  margin-left: 5px;
  content: '\e873'
}
