/* EDIT BY Fuxy526 */

/* ==[ Global Style ]========== */

* {
	text-decoration: none;
}

a:hover {
	color: #c00000;
}

/* body {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	color: #000;
	margin: 0 0 20px 0;
	padding: 0;
	line-height:1.2em;
}

p {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
	line-height: 1.2em;
} */

/* ==[ 1. Word Header ]====== */
/*词条行*/
.C1_word_header {
	height: 28px;
	/* background-color: ; */
	margin: 5px 0 0 0;
	padding: 0px 0px 3px 0px;
	/*border-top: 2px solid #000;*/
	overflow: hidden;
}

/*词条*/
.C1_word_header_word {
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2em;
	height: 28px;
	color: black;
	/* background-color: #019098; */
	/*margin: 0 8px 0 0;*/
	padding: 0px 8px 0px 13px;
	display: block;
	float: left;
}

/*星星*/
.C1_word_header_star {
	font-family: "微软雅黑";
	font-size: 15px;
	font-weight: normal;
	line-height:1.2em;
	height: 28px;
	color: #FFBB00;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}

.C1_color_bar {
	height: 28px;
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

.C1_color_bar ul {
	/* background-color: ; */
	height: 28px;
	margin: 0;
	padding: 0 8px 0 0;
	list-style: none;
}

.C1_color_bar ul li {
	margin: 0;
	padding: 0;
	float: right;
}

/*右上角6条杠装饰*/
/*
.C1_cabr_1 {
	margin: 0;
	padding: 0;
	border-top: 13px solid #5CC5F0;
	height: 15px;
	width: 8px;
}

.C1_cabr_2 {
	margin: 0;
	padding: 0;
	border-top: 10px solid #3EAE40;
	height: 18px;
	width: 8px;
}

.C1_cabr_3 {
	margin: 0;
	padding: 0;
	border-top: 18px solid #90A1F7;
	height: 10px;
	width: 8px;
}

.C1_cabr_4 {
	margin: 0;
	padding: 0;
	border-top: 14px solid #F77B6E;
	height: 14px;
	width: 8px;
}

.C1_cabr_5 {
	margin: 0;
	padding: 0;
	border-top: 10px solid #FFE766;
	height: 18px;
	width: 8px;
}

.C1_cabr_6 {
	margin: 0;
	padding: 0;
	border-top: 7px solid #DB640A;
	height: 21px;
	width: 8px;
}
*/

/* ==[ XX. Explanation Box ]====== */

/*英文解释*/
.C1_explanation_item {
	font-family: "Tahoma";
	/* font-weight: ; */
	line-height: 1.2em;
	margin: 0;
	/*padding: 0;*/
	border-top: 1px solid #009FCC /*#019098*/;	
}

/*英文解释*/
.C1_explanation_box {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: black;
	background-color: #F8F8FF;
	min-height: 19px;
	margin: 0;
	/*padding: 5px 12px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 39px;
	text-indent: -5px;
}

/*前头数字标号*/
.C1_item_number {
	height: 16px;
	line-height: 1.2em;
	margin-right: 5px;
	padding-top: 2px;
	display: block;
	float: left;
	text-indent: -27px;
}

.C1_item_number a {
	font-family: "Tahoma";
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2em;
	height: 14px;
	color: black;
  background-color: #F8F8FF;
	margin-top: 2px;
	padding: 0 5px;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	/*display: block;*/
	/*float: left;*/
}

.C1_item_number a:hover {
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2em;
	height: 14px;
	background-color: #009FCC;
	color: #fff;
	margin-top: 2px;
	padding: 0 5px;
	border: 1px solid #fff;
	border-radius: 3px;
	/*display: block;*/
	/*float: left;*/
}


/* ==[ 定义序列号右侧的词性 ]====== */

/*词性及中文，中括号内的内容*/
.C1_explanation_label {
	font-family: "Tahoma","微软雅黑";
	font-size: 12px;
	font-weight: normal;
	line-height: 1.2em;
	min-height: 18px;
	color: #000;
}

/*中文解释*/
.C1_explanation_box .C1_text_blue {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #4682B4;
	/* background-color: #EEFFBB; */
	padding-left: 5px;
}


/*语法信息*/
.yfxx {
	font-size: 13px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding-left: 0;
	line-height: 1.2em;
	color: #000;
}

/*解释后面[]中的内容*/
.C1_word_gram {
	font-family: "Tahoma";
	/*font-style: oblique;*/
	font-weight: normal;
	font-size: 13px;
	line-height: 1.2em;
	color: #000;
}


/* ==[ 下面定义例句部分 ]====== */

.C1_explanation_item ul {
	line-height: 1.2em;
	margin: 4px 12px 8px 12px;
	padding: 0;
	list-style: none;
}

.C1_explanation_item ul li {
	font-family: "微软雅黑";
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 2px;
}

/*全部例句*/
.C1_explanation_item ul li p {
	font-family: "微软雅黑";
	font-size: 13px;
	font-weight: normal;
	/*font-style: oblique;*/
	line-height: 1.2em;
	color: #888888;
	margin-bottom: 0px;
	/*padding-left: 27px;*/
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline-block;
}

/*英文例句*/
.C1_explanation_item ul li p.C1_sentence_en {	
	font-family: "Tahoma";
	/*font-style: oblique;*/
	color: #888888;
	font-size: 14px;
	padding-top: 4px;
	padding-left: 27px;
	display: inline;
}
.C1_explanation_item ul li p.C1_sentence_en::before { content: "⇒"; font-size: 90%; color: #f60; top: -0.2em; position: relative; margin-right: .3em; }

/*中文例句*/
.C1_sentence_cn {
	padding-left: 27px;
}

/*英文例句中的原词*/
.C1_sentence_en .C1_text_blue {
	font-weight: normal;
	color: #4682B4;
	/*text-decoration: underline;*/
}



/* ==[ Top Tip ]========== */

.C1_en_tip {
	background-color: #F8F8FF;
	padding: 8px 18px 8px 18px;
	margin: 10px 0px;
	border: 1px dotted gray;
	/*border-radius: 4px;*/
	display: inline-block;
}

.C1_en_tip p {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}

.C1_en_tip p:first-child {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
	padding: 0 0 5px 0;
}



/* ==[ Bottom Tip ]====== */

/*例句后灰框内第一句介绍的英文*/
.C1_explanation_item ul li.C1_en_tip {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: black;
	background-color: #F8F8FF;
	padding: 5px 8px 5px 14px;
	margin: 6px 14px;
	border: 1px dotted gray;
	border-radius:4px 4px 4px 4px;
}

/*.C1_explanation_item .C1_en_tip  .C1_text_blue {
	font-family: "微软雅黑";
	font-size: 12px;
}*/

/*灰框英文例句中的原词*/
.C1_explanation_item ul li.C1_en_tip .C1_text_blue {
	font-size: 14px;
	font-weight: normal;
	color: #4682B4;
}


.C1_explanation_item ul ul.C1_vli {
	margin: 1px 0 0 0;
	padding: 0;
	list-style: none;
}

.C1_explanation_item ul ul.C1_vli li {
	margin: 0;
	padding: 0;
}

/*灰框中的中文例句*/
.C1_explanation_item ul ul.C1_vli li p {
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
}
/*灰框中的英文例句（不包括原词）*/
.C1_explanation_item ul ul.C1_vli li p.C1_sentence_en {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #888888;
	margin-top: 3px;
	padding: 0;
}


/* ==[ C1_part_list >> 常用动词页首大分栏 ]====== */

.C1_part_list {
	line-height: 1.2em;
	/* background-color: #FFFFE0 #ffeedd; */
	margin: 0;
	padding: 0px 12px 1px 12px;
	/*border-top: 1px dotted #009FCC;
	border-bottom: 1px dotted #009FCC;*/
}

.C1_part_list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.C1_part_list ul li {
	color: #000;
	margin: 2px 0;
	padding: 0;
}

.C1_part_list ul li a {
	font-family: "Tahoma","微软雅黑";
	font-size: 13px;
	font-weight: bold;
	line-height: 1.2em;
	color: #4682B4;
	display: block;
}

.C1_part_list ul li a:hover {
	color: #c00000;
	background: url(arrow_down.png) no-repeat right center;
}


/* ==[ //. Part Break Bar ]====== */

/*PART-?*/
.C1_break_bar {
	height: 22px;
	line-height: 1.2em;
	margin: 10px 0 0 0;
	border-bottom: 1px solid #009FCC /*#019098*/;
	overflow: hidden;
}

/*
.C1_break_bar_angle {
	display: block;
	float: right;
	border-right: 25px solid #009FCC;
	border-top: 25px solid #fff;
}
*/

.C1_part_list_d {
	height: 22px;
	color: #000;
	background-color: #009FCC;
	margin: 0;
	padding: 0;
	border-radius: 0px 8px 1px 0px;
	float: left;
}

.C1_part_list_d a {
	height: 22px;
	margin: 0;
	padding: 0 15px;
	display: block;
}

.C1_part_number {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	height: 22px;
	color: #fff;
	margin-right: 5px;
	display: block;
	float: left;
}

.C1_part_list_d a:hover {
	background: url(arrow_up.png) no-repeat center center;
}

.C1_part_list_d a:hover span {
	position: relative;
	left: -100000px;
}

#C1_menu_1 .C1_explanation_item:first-child, #C1_menu_2 .C1_explanation_item:first-child, #C1_menu_3 .C1_explanation_item:first-child, #C1_menu_4 .C1_explanation_item:first-child, #C1_menu_5 .C1_explanation_item:first-child, #C1_menu_6 .C1_explanation_item:first-child, #C1_menu_7 .C1_explanation_item:first-child {
	border: none;
}


/* ==[ 定义底部相关词组 ]====== */

dl.phrasal_verb_box {
	margin: 0;
	/*padding: 0;*/
	padding-left: 6px;
}

dl.phrasal_verb_box dt {
	font-family: "Tahoma","微软雅黑";
	font-size: 13px;
	font-weight: normal;
	line-height: 1.2em;
	margin-bottom: 2px;
	padding: 0;
}

dl.phrasal_verb_box dd {
	margin: 0;
	padding: 0;
}

dl.phrasal_verb_box dd a.C1_explain {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: black;
	padding-right: 5px;
	/*border-bottom: 1px dotted black;*/
	text-decoration: none;
}
a:after{content: ", ";}
a:last-child:after{
	content: "";
}

dl.phrasal_verb_box dd a:hover {
	color: #c00000;
	text-shadow:1px 1px 0 rgba(255,255,255,1);
}

/* ==[ 例句下面说明框 其他词性 ]====== */

.C1_vExplain_r {
	/* font-weight: ; */
	/*font-size: 14px;*/
	line-height: 1.2em;
	background-color: #F8F8FF;
	margin: 5px 26px 7px 26px;
	padding: 5px 0px 5px 0px;
	border: 1px dotted gray;
	border-radius: 4px 4px 4px 4px;
}

.C1_vExplain_r ul {
	margin: 2px 0 0 0;
	padding: 0;
	list-style: none;
}

.C1_vExplain_r ul li {
	margin: 0;
	padding: 0;
}

/*其他词性框框中的例句*/
.C1_vExplain_r ul li p {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #888888;
	margin: 0;
	padding: 0px 14px;
	display:inline;
}
/*其他词性同根词中最开头的词*/
.C1_vExplain_r b.C1_text_blue {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	color: black /*#c00000*/;
	padding-left: 14px;
}
/*最前面词条和星星后-解释前 的框框里的内容,美国英语，英国英语*/
.C1_vExplain_s {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #000;
	background-color: /*#FFFFE0*/ #F8F8FF ;
	margin: 5px 26px 5px 26px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 14px;
	padding-right: 14px;
	border: 1px dotted #888;
	border-radius: 4px;
}


/* ==[ vExplain_s >> Usage Note ]====== */
/*冒号*/
.C1_vEn_tip {
	background-color: /*#FFFFE0*/ #F8F8FF;
	font-family: "Tahoma";
	color: black;
	margin:  8px 26px;
	padding: 8px 14px;
	border: 1px dotted gray;	
	border-radius: 4px;
}

/*Usage Note框中所有文字*/
.C1_vEn_tip p {
	font-family: "Tahoma","微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #000;
	margin: 1px 0 0 0;
	padding: 1px 0px;
}
/*开头Usage Note两个词*/
strong.C1_text_gray {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: normal;
	border-bottom: 1px dotted black;
	color: black;
	/*text-decoration: underline;*/
}

.C1_seealso {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	color: #000;
}

.C1_text_blue a.C1_explain {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	color: black;
	background-color: #F8F8FF;
	/*border: 0px solid #F8F8FF;*/
	border-bottom: 1px dotted black;
	padding-left: 0px;
	/*text-decoration: underline;*/
}

.C1_text_blue a.C1_explain:hover {
	color: #c00000;
	text-shadow:1px 1px 0 rgba(255,255,255,1);
}


/* ==[ 11. See Other Words ]====== */

.C1_see_other_box {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #000;
	background-color: #F8F8FF;
	margin: 10px 26px;
	padding: 8px 14px;
	border: 1px dotted gray;
	border-radius: 4px 4px 4px 4px;
}

.C1_see_other_word {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	color: #000;
	margin: 0;
	padding: 1px 0;
}

.C1_see_other_box .C1_inline_word{
	font-weight: bold;
	}

.C1_see_label {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #c00000;
	margin-right: 5px;
	margin-left: 5px;
}


.C1_plus_character {
	font-family: "Tahoma";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #000;
}

/*解释中突出单词（词条词）*/
.C1_inline_word {
	color: black;
	font-weight: bold;
	/*text-decoration: underline;*/
}

.C1_seealso_2 {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #000;
	margin: 0 5px;
}

.C1_see_usage {
	font-family: "微软雅黑";
	font-size: 14px;
	/* font-weight: ; */
	line-height: 1.2em;
	color: #000;
}

.C1_seeusage_2 {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #000;
	margin-left: 5px;
}

.C1_seeusage_3 {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #000;
	margin-left: 5px;
}

.C1_text_gray {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	color: #000;
}
