html {
  height:100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  width: 100%;
  height:100%;
}
.fake-titlebar{
  height: 20px;
  -webkit-app-region: drag;
  background-color: #D84042;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#app {
  height: calc(100% - 20px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 20px;
  overflow: hidden;
}